.position_icon_heart_resto {
  position: absolute;
  right: 2rem;
  transform: translateY(-200%);
  transition-property: transform;
}
.position_icon_heart_resto > .full_heart {
  display: none;
  color: transparent;
  background-image: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
}
.position_icon_heart_resto:hover > .empty_heart {
  display: none;
}
.position_icon_heart_resto:hover > .full_heart {
  display: block;
  animation: bgcolor 2s;
  transition: transform 2000ms;
}

@keyframes bgcolor {
  0% {
    color: transparent;
    background-image: linear-gradient(#9356DC, #FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0.2;
  }
  30% {
    color: transparent;
    background-image: linear-gradient(#9356DC, #FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0.4;
  }
  50% {
    color: transparent;
    background-image: linear-gradient(#9356DC, #FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0.6;
  }
  80% {
    color: transparent;
    background-image: linear-gradient(#9356DC, #FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0.8;
  }
  100% {
    color: transparent;
    background-image: linear-gradient(#9356DC, #FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 1;
  }
}
.banner img {
  width: 100%;
  height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.resto_main {
  background-color: #F6F6F6;
  border-radius: 2rem 2rem 0 0;
  z-index: 1;
  position: relative;
  margin-top: -85px;
}
.resto_main h2 {
  padding: 2rem;
}

.container {
  max-width: 1280px;
  margin: auto;
}

.submenus {
  display: grid;
}

.background {
  background-color: #F6F6F6;
}

.submenu {
  max-width: 100%;
  overflow: hidden;
  padding: 0 1rem;
}

.submenu_title {
  text-transform: uppercase;
  position: relative;
  padding-bottom: 0.5rem;
  font-weight: 400;
}
.submenu_title::after {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99E2D0;
  position: absolute;
  left: 0;
  bottom: 0;
}

.menuItem {
  background-color: #fff;
  padding: 1rem;
  display: flex;
  border-radius: 0.75rem;
  margin: 1rem 0;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  animation: itemAppear 0.6s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-fill-mode: none;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  transform: scale(0);
  max-width: 100%;
}
.menuItem:hover .menuItem_confirmation {
  margin-right: -1rem;
}
.menuItem:hover .menuItem_wrapIcon {
  transform: rotate(0deg);
}
.menuItem_header {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;
}
.menuItem_title {
  margin: 0;
}
.menuItem_description {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menuItem_price {
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 0.5rem;
}
.menuItem_icon {
  color: #99E2D0;
}
.menuItem_confirmation {
  background-color: #99e2d0;
  margin: -1rem -5rem -1rem 1rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}
.menuItem_wrapIcon {
  height: 1.6rem;
  width: 1.6rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: rotate(180deg);
  transition-duration: 0.5s;
}

@keyframes itemAppear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.delay_0 {
  animation-delay: 0s;
}

.delay_1 {
  animation-delay: 0.1s;
}

.delay_2 {
  animation-delay: 0.2s;
}

.delay_3 {
  animation-delay: 0.3s;
}

.delay_4 {
  animation-delay: 0.4s;
}

.delay_5 {
  animation-delay: 0.5s;
}

.delay_6 {
  animation-delay: 0.6s;
}

.delay_7 {
  animation-delay: 0.7s;
}

.delay_8 {
  animation-delay: 0.8s;
}

.delay_9 {
  animation-delay: 0.9s;
}

@media (max-width: 500px) {
  .banner img {
    width: 100%;
    height: 40vh;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center bottom;
       object-position: center bottom;
    display: block;
  }
  .resto_main {
    background-color: #F6F6F6;
    border-radius: 2rem 2rem 0 0;
    z-index: 1;
    position: relative;
    margin-top: -85px;
  }
  .resto_main h2 {
    padding: 1rem;
  }
  .submenus {
    display: block;
  }
  .background {
    background-color: #F6F6F6;
  }
  .submenu_title {
    text-transform: uppercase;
    position: relative;
    padding-bottom: 0.5rem;
    font-weight: 400;
  }
  .submenu_title::after {
    content: "";
    width: 3rem;
    height: 0.25rem;
    background-color: #99E2D0;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .menuItem {
    background-color: #fff;
    padding: 1rem;
    display: flex;
    border-radius: 0.75rem;
    margin: 1rem 0;
    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
    animation: itemAppear 0.6s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-fill-mode: none;
    animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
    animation-fill-mode: both;
    transform: scale(0);
    max-width: 100%;
  }
  .menuItem:hover .menuItem_confirmation {
    margin-right: -1rem;
  }
  .menuItem:hover .menuItem_wrapIcon {
    transform: rotate(0deg);
  }
  .menuItem_header {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
  }
  .menuItem_title {
    margin: 0;
  }
  .menuItem_description {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .menuItem_price {
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 0.5rem;
  }
  .menuItem_icon {
    color: #99E2D0;
  }
  .menuItem_confirmation {
    background-color: #99e2d0;
    margin: -1rem -5rem -1rem 1rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.5s;
  }
  .menuItem_wrapIcon {
    height: 1.6rem;
    width: 1.6rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    transform: rotate(180deg);
    transition-duration: 0.5s;
  }
  @keyframes itemAppear {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  .delay_0 {
    animation-delay: 0s;
  }
  .delay_1 {
    animation-delay: 0.1s;
  }
  .delay_2 {
    animation-delay: 0.2s;
  }
  .delay_3 {
    animation-delay: 0.3s;
  }
  .delay_4 {
    animation-delay: 0.4s;
  }
  .delay_5 {
    animation-delay: 0.5s;
  }
  .delay_6 {
    animation-delay: 0.6s;
  }
  .delay_7 {
    animation-delay: 0.7s;
  }
  .delay_8 {
    animation-delay: 0.8s;
  }
}/*# sourceMappingURL=resto.css.map */