.navbar{
    text-align: center;
    width: 100%;
    .navbar__logo{
      height: 40px;
      padding: 1%;
    }
  }
  .localisation{
    display: flex;
    text-align: center;
    align-items: center;
    background-color: #EAEAEA;
    justify-content: center;
    position: relative;
    gap: 1rem;
    
  }
  .explorer{
    background-color: #F6F6F6;
    padding-bottom: 4%;
  }
  .center_text{
    text-align: center;
  }
  .bg_color_dark{
    background-color:#353535;
    padding: 3%;
    justify-content: space-around
  } 
  .color__white{
    color: white;
  }
  .white{
    width: 30%;
    filter: invert(100%);
    height: 40px;
  } 
  .flex_footer{
    display: flex;
    justify-content: end;
    flex-direction: row-reverse;
    
  }
  .Restaurant{
    background:#F6F6F6;
  }
  .position_footer{
    display: flex;
    gap: 1em;
    order: 2;
    padding-right: 4%;
  }
  .position_footer_2{
    display: flex;
    gap: 1em;
    order: 1;
    padding-right: 4%;
  }
  .margin{
    margin: 2%;
  }
  .padding{
    padding: 2%;
  }
  .relative{
    position: relative;
  }
  .header_relative{
    position: relative;
    padding: 1rem;
  }
  .header_logo{
    font-family: Shrikhand,"cursive";
    margin: 0;
    text-align: center;
  }
  @media (max-width:700px) {
    .navbar{
        text-align: center ;
        color:black;
        .navbar__logo{
            height: 40px;
            padding: 1%;
        }
        
    }
    .localisation{
      display: flex;
      background-color:#EAEAEA ;
      align-items: center;
      justify-content: center;
      text-align: center;
      gap: 1rem;
      padding: 0.5rem;
      border-top: solid #D6D6D6;
      
  }
 .w_full{
      width: 100%;
  }
  .center_text{
      text-align: center;
  }
  
  
  .explorer{
      background-color: #F6F6F6;
      padding-bottom: 15%;
  }
  .white{
    width: 30%;
    filter: invert(100%);
  }
  .bg_color_dark{
    background-color:#353535;
    padding: 8%;
  }
  .color__white{
    color: white;
  }
  .position_footer{
    display: block;
  }
  .position_footer_2{
    display: block;
  }
  .flex_footer{
    display: block;
  }
  .padding{
    padding-top: 4%;
  }
  .margin{
    margin: 5%;
  }
  .header_relative{
    position: relative;
    padding: 1rem;
  }
  .header_logo{
    font-family: Shrikhand,"cursive";
    margin: 0;
    text-align: center;
  }
  }